<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <link href="/css/output.css" rel="stylesheet" />
    <title>airbnb Home</title>
  </head>
  <body>
    <header><h1>Welcome to airbnb</h1></header>
    <main><a href="/host/add-home">Add Home</a></main>
    <h1 class="text-5xl text-blue-500 font-bold text-center">Tailwind v4 is Working 🚀</h1>
  </body>
</html>
