<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Home</title>
</head>
<body>
  <h1> Add Your home</h1>
    <form action="/host/add-home" method="POST">
      <input type="text" name="homeName" placeholder="Home Name" required>
      <input type="text" name="location" placeholder="Location" required>
      <input type="number" name="price" placeholder="Price per night" required>
      <button type="submit">Add Home</button>
    </form>
</body>
</html>